/Clinic.class
/ClosestPrime.class
/Dice.class
/EvotingMachine.class
/GcdPairs.class
/GcdPairsAlternate.class
/Interview1.class
/Interview2.class
/LongestMountain.class
/Main.class
/MethodOverloading.class
/MissingElement.class
/NthUglyNumber.class
/NumberGame.class
/Prime.class
/QueenAttack.class
/Resistors.class
/SquareRoot.class
/StringusingForeachLoop.class
/TooManyRectangles.class
/dataTypes.class
/numDilemma.class
/printArrayusingForEachLoop.class
/printArrayusingIterator.class
